/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media only screen and (max-width: 1026px) {
  .not-mobile {
    display: none;
  }
}

body{
  background-color: #F1A9A9;
  color: #6E4D4D;
}

.row{
  font-family: 'Raleway', sans-serif;
}

.center-row{
  text-align: center;
}

.row-align-left{
  text-align: left;
}

.row-align-right{
  text-align: right;
}

.title{
  font-style: italic;
}

.table-row{
  outline: thin solid #6E4D4D;
}

.row-above-margin{
  margin-top: 30px;
}

.submit-button{
  background-color: #F1A9A9;
  border-radius: 10px;
}